%nav#navbars.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .wrapper
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "javascript:;"}
        -# %img.logo{alt: "logo", src: "images/logo.png"}>/
        Innovation Fund
    #navbar.collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "#howto"} BENEFITS
        -# %li
        -#   %a{href: "#portfolio"} PORTFOLIO
        -# %li
        -#   %a{href: "#team"} TEAM
        %li
          %a{:href => "#about"} APPLY
        %li
          %a{href: "#contact"} CONTACT
    / /.navbar-collapse
  / /wrapper
/ END Navbar
/ BEGIN Slider
#home-slide
  .slides-filter
  .parallaxize.bg-parallax
  .bigHeader.slideUp
    .text-center
      %h1.white.uppercase.hugetext Turn idea into reality
      %hr.white/
      %h3.white.hugetext The Innovation Fund at the Weiss Tech House at the University of Pennsylvania
      = link_to "#intro", data: { no_turbolink: true }, class: "button button-white-side" do
        %i.fa.fa-lightbulb-o
        More information
      = link_to new_application_path, data: { no_turbolink: true }, class: "button button-white-side" do
        %i.fa.fa-dollar
        Apply for funding
/ END Slider
/ BEGIN Intro
%section#intro.intro
  .container
    .wrapper
      .row
        .col-sm-12
          %h2.grey.text-center A fund by students for students
          %p The Weiss Tech House Innovation Fund is an in-house, mini-venture capital fund, run by a student Innovation Fund Committee. It is the gateway to funding and support from the Weiss Tech House. Each year the Committee awards approximately twenty grants of up to $5,000 to student inventors seeking funding to develop their innovative ideas, in addition to ongoing technical, legal, and business mentoring resources. All you need is an idea.
/ END Intro
/ BEGIN Howto
%section#howto.howto
  .container
    .wrapper
      .row
        .col-sm-12.animaze.fromTop
          .title.text-center
            %h1 How we help you
            %hr/
        / featured 1
        .col-sm-4.animaze.fromBottom
          .featured-box
            .featured-icon
              %i.fa.fa-lightbulb-o
              %span
            .featured-desc
              %h3 It all starts with an idea
              %p In order to apply all you need is an idea. We will provide the tech and business mentorship to help you execute on that idea.
        / featured 2
        .col-sm-4.animaze.fromBottom
          .featured-box
            .featured-icon
              %i.fa.fa-heart-o
              %span
            .featured-desc
              %h3 Keep it all
              %p Grants are given for free - no equity or loan is involved.
        / featured 3
        .col-sm-4.animaze.fromTop
          .featured-box
            .featured-icon
              %i.fa.fa-flash
              %span
            .featured-desc
              %h3 Get Connected
              %p Meet other peers at Penn who have the drive to start great things like you. Become a part of the greater Penn start up community.
/ END Howto
/ BEGIN Portfolio
-# %section#portfolio
-#   .container
-#     .wrapper
-#       .row
-#         .col-sm-12.animaze.fromTop
-#           .title.text-center
-#             %h1 PORTFOLIO COMPANIES
-#             %hr/
-#           %p Our companies are started by a wide array of people at Penn. Everyone from undergraduates in engineering or business to graduates in medicine. Below is a list of current and past start ups that the Innovation Fund has invested in.
-#         .col-sm-12.animaze.fromBottom
-#           .row.portfolioContainer
-#             .portfolio
-#               .col-sm-3.portfolio-item
-#                 = image_tag("greenvote.png", :alt => "GreenVote")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("aveece.png", :alt => "Aveece")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("biomated.png", :alt => "BioMated Solutions")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("grand-round-table.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("graphmuse.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("knowtorious.jpg")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("parametric.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("penncycle.png")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("TheRentScene.jpg")
-#               .col-sm-3.portfolio-item
-#                 = image_tag("venturepact.png")
/ END Portfolio
%section#team
  .team
    .container
      .wrapper
        .row
          .col-sm-12.animaze.fromTop
            .title.text-center
              %h1 THE TEAM
              %hr/
          .col-sm-12.animaze.fromBottom
            .row.row-team
              .col-sm-4.animaze.fromBottom
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                      %p Anubhav is a junior in the Jerome Fisher Program in Management and Technology, pursuing Finance at The Wharton School and Materials Engineering at the School of Engineering and Applied Science. He is a returning member of the Innovation Fund. He has a keen interest for technology and business and enjoys learning about new innovations. At Penn, he is also involved with the Private Equity and Venture Capital Association and the Wharton Trading Group. He can be contacted at anubhavm@wharton.upenn.edu.
                  %h3 Anubhav Maheshwari
                  %span Co-Chair
              .col-sm-4.animaze.fromTop
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                  %h3 Robbie Horwitz
                  %span Co-Chair
              .col-sm-4.animaze.fromTop
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                  %h3 Connor Theilmann,
                  %span Treasurer / PM
            .row.row-team
              .col-sm-4.animaze.fromBottom
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                  %h3 Nick Normile
                  %span External Outreach
              .col-sm-4.animaze.fromTop
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                  %h3 Aly Kassim-Lakha
                  %span PM
              .col-sm-4.animaze.fromTop
                .cprofile
                  .lightbox-item
                    = image_tag("http://placekitten.com/300/300")
                    .lightbox-item-overlay-content
                  %h3 Tanya Paul
                  %span Internal Portfolio Manager
/ BEGIN About
%section#about.about
  .team
    .container
      .wrapper
        .row
          .col-sm-12.animaze.fromTop
            .title.text-center
              %h1 THE PROCESS
              %hr/
          %p
            The Innovation Fund does not take equity in funded projects. Teams must consist of at least one member who is either an undergraduate student, graduate student, or faculty member at the University of Pennsylvania. Applications are accepted on a rolling basis.
          %ul.dp_tmtimeline
            %li
              %time.dp_tmtime{datetime: "2013-04-10 18:30"}
                %span Written application
              .dp_tmicon.fa.fa-pencil
              .dp_tmlabel.animaze.fromTop
                %p The application starts online with answering a few questions to help us get a better idea of how your business is run and how the Innovation Fund can help you. Optionally, you can also link to a 2-minute Youtube elevator pitch to help us better understand your business. The link to apply is below.
            %li
              %time.dp_tmtime{datetime: "2013-04-11T12:04"}
                %span Get Mentored
              .dp_tmicon.fa.fa-user
              .dp_tmlabel.animaze.fromTop
                %p If your project is selected, an Innovation Fund Committee member will become your project manager and will act as your liaison to the rest of the Committee. If she feels that you are ready to present your idea in front of the committee, she will prepare you for the pitch and question session.
            %li
              %time.dp_tmtime{datetime: "2013-04-13 05:36"}
                %span Pitch
              .dp_tmicon.fa.fa-bullhorn
              .dp_tmlabel.animaze.fromTop
                %p Breath in and out. Pitch your idea to the Innovation Fund committee. Pitches last 10 minutes and are followed by a 10-minute question and answer session.
            %li
              %time.dp_tmtime{datetime: "2013-04-15 13:15"}
                %span Get funded
              .dp_tmicon.fa.fa-dollar
              .dp_tmlabel.animaze.fromTop
                %p Accepted teams will receive an average of 500-1000 dollars and will have access to the Tech House’s technical, legal, and business mentoring resources.
                %p Accepted team are expected to regularly update their project managers on their progress, participate in the Weiss Tech House's events and community, and show that they have received funding from the Innovation Fund on their company website.
                %p Teams that are not accepted to the Innovation Fund will have the opportunity to pitch again during the following semester.
          %br/
          .col-md-12
            = link_to new_application_path, class: "button theme-color fright btn-block btn-lg", data: { no_turbolink: true } do
              %i.fa.fa-pencil
              Apply!
/ END About
/ BEGIN Contact
%section#contact.contact{style: "background:url('images/contact-background.jpg');"}
  .contact-wrapper
    .container
      .wrapper
        .row
          .col-sm-12
            #contact-slider
              %ul
                %li
                  / Contact details
                  .row
                    .col-sm-6
                      / Map
                      .map-wrapper
                        #map
                    .col-sm-6
                      .bio
                        %h3 Contact the Innovation Fund
                        %p We are located at the Weiss Tech House at the Universiy of Pennsylvania.
                      %ul.bioextra
                        %li
                          %strong Email
                          %i
                            %a{:href => "mailto:apply.innovationfund@gmail.com"}  apply.innovationfund at gmail.com
                        %li
                          %strong Address
                          %i Levine Hall, Rm 266, 3330 Walnut Street, Philadelphia, PA 19104
      .credits
        .container
          .row
            .col-sm-12
              .text-center
                %p.credits-title
                  MADE BY
                  %a.hovercolor{href: "javascript:;"} TONY XIE
                  \© 2014.
          .scroll-up
            %a{href: "#home-slide"}
              %i.fa.fa-angle-up
/ END Contact