= form_for @application, class: "form" do |f|
  .form-group
    %label Company name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :email, "Main contact email"
    = f.email_field :email, class: "form-control"
  .form-group
    = f.label :video_link, "Optional link to 2-minute pitch on Youtube"
    = f.text_field :video_link, class: "form-control"
  .form-group
    = f.label :project_summary, "Project summary in 100 words"
    = f.text_area :project_summary, class: "form-control", rows: 5
  .form-group
    = f.label :problem, "What problem are you trying to solve?"
    = f.text_area :problem, class: "form-control", rows: 3
  .form-group
    = f.label :solution, "What is your solution?"
    = f.text_area :solution, class: "form-control", rows: 3
  .form-group
    = f.label :progress_summary, "Provide a detailed description of the progress you made so far in the business (max 500 words)."
    = f.text_area :progress_summary, class: "form-control", rows: 12
  .form-group
    = f.label :key_financials, "What are your key financials?"
    = f.text_area :key_financials, class: "form-control", rows: 12
  .form-group
    = f.label :team, "Tell us what we should know about your team, that is Penn affliations and other qualifications."
    = f.text_area :team, class: "form-control", rows: 12
  .form-group
    = f.label :team_skills, "What kind of unique skills does your team bring?"
    = f.text_area :team_skills, class: "form-control", rows: 12
  .form-group
    = f.label :target_market, "What is your target market?"
    = f.text_area :target_market, class: "form-control", rows: 3
  .form-group
    = f.label :business_model, "What is your business model?"
    = f.text_area :business_model, class: "form-control", rows: 12
  .form-group
    = f.label :value_proposition, "What is your unique value proposition?"
    = f.text_area :value_proposition, class: "form-control", rows: 3
  .form-group
    = f.label :market_analysis, "Give an analysis of your competitors."
    = f.text_area :market_analysis, class: "form-control", rows: 12
  .form-group
    = f.label :technology, "What types of technology are you leveraging?"
    = f.text_area :technology, class: "form-control", rows: 3
  .form-group
    = f.label :competitive_advantage, "What is your competitive advantage against these competitors?"
    = f.text_area :competitive_advantage, class: "form-control", rows: 12
  .form-group
    = f.label :funding_history, "Any previous funding?"
    = f.text_area :funding_history, class: "form-control", rows: 3
  .form-group
    = f.label :milestones_and_funding_uses, "How do you intend to use the funding from the Innovation Fund?"
    = f.text_area :milestones_and_funding_uses, class: "form-control", rows: 3
  .form-group
    = f.label :risks, "What kinds of obstacles have you faced so far and what kinds of risks will you encounter in the future?"
    = f.text_area :risks, class: "form-control", rows: 12
  .form-group
    = f.submit 'Submit application', class: "button black"
