%nav#navbars.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .wrapper
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/", data: { no_turbolink: true }}
        -# %img.logo{alt: "logo", src: "images/logo.png"}>/
        Innovation Fund
    #navbar.collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/", data: { no_turbolink: true }} HOME
        %li
          %a.active{href: "#"} APPLICATION
.container.application-container
  .row
    .col-sm-12
      - if @application.errors.any?
        #error_explanation.alert.alert-danger
          %h2= "Oops looks like you have #{pluralize(@application.errors.count, "error")}, which stopped this application from being submitted."
          %ul
            - @application.errors.full_messages.each do |msg|
              %li= msg
      %h1 New application
      %h3 Judging Criteria
      %p Initial grants usually average 500-1000 dollars each. These grants are judged on the following criteria:
      %ul
        %li Projects must have an innovative factor: technological/process.
        %li Projects must have a technological component.
        %li Projects should have a good management team which is dedicated to implementation.
        %li Projects must be feasible.
        %li Projects must be in accordance with the Weiss Tech House ideals and mission.
        %li The innovative part of the project must be completed by the team and not outsourced.
      %p After the initial grant, teams can pitch once again for additional funding. These subsequent pitches are judged on the following criteria.
      %ul
        %li How has your team used the initial grant?
        %li What milestones has your team been able to reach with the initial grant?
        %li How does your team plan to use the additional funding?
        %li What milestones does your team plan to reach with the additional funding?
        %li What Tech House resources besides funding have your team utilized?
        %li Did your team stay in contact with your project manager and give him any project updates?
      %h3 Use of funds conditions:
      %p All proposed uses for the Innovation Fund grant must be initially approved by the team’s project manager and then ultimately by the entire Innovation Fund Committee. Common uses for Innovation Fund grants include:
      %ul
        %li Raw materials used to construct a prototype
        %li Server costs
        %li Necessary packaged software, but not the payment for a professional to write computer code
        %li Security certificates
  .row
    %h3 Application forms below:
    %p
      = link_to "Innovation Fund Main Application", "http://www.tech-house.upenn.edu/wp-content/uploads/2012/10/Innovation_Fund_Main_Application.doc"
    %p
      = link_to "Innovation Fund Executive Summary", "http://www.tech-house.upenn.edu/wp-content/uploads/2012/10/Innovation_Fund_Main_Application.doc"
    %p
      Additional instructions found in forms. If you have any additional questions contact us at
      %a{:href => "mailto:apply.innovationfund@gmail.com"} apply.innovationfund@gmail.com

    = link_to 'Back', root_path, data: { no_turbolink: true }, class: "button black"
